< !DOCTYPE html>
<html>
<head>
<style>body {
  background-color: green;
}

h1 {
  color: peru;
  text-align: center;
}

p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 21px;
}

</style>
</head>
<body>
</html>